
<mat-card class="mario-maze">Mario Maze</mat-card>
<div class="controls">
  
  <mat-card class="options">
    <div class="options">
      <mat-form-field >
          <input matInput placeholder="Number of columns" class="option-form" value="columns" [(ngModel)]="columns">
      </mat-form-field>
      <button class="option-button" (click)="setColumns()" mat-raised-button>Play</button>
  </div>
  </mat-card>

<div class="score-group">
    <div class="score">
        <mat-card class="score-card">
          <mat-card-header>
            <mat-card-title>Score:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p style="font-size:4vmin;">
              {{scoreCount}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      
      <div class="score">
        <mat-card class="steps-card">
          <mat-card-header>
            <mat-card-title>Steps:</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p style="font-size:4vmin;">
              {{stepsCount}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
</div>
</div>

<div *ngIf="displayBoard===true && gameOver === false" class="maze">
  <mat-grid-list [style.width.px] = "width" cols="{{columns}}" rowHeight="35px">
    <div *ngFor="let i of ind; let index = index" class="board">
        <mat-grid-tile class="element">
          <img *ngIf="index === marioPosition" class="mario" src="../assets/images/mario.png" alt="">
          <img *ngIf="balls[index]===true" src="../assets/images/ball.png" class="mario" alt="">
        </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>

<div *ngIf="gameOver===true" class="end-game">
    <mat-card>
        <div class="message">
          Game Over
        </div>

        <div class="scoreC">
          stepsCount: {{stepsCount}}
        </div>
        <button  (click)="setColumns()" mat-raised-button><i style="margin-right:1vmin;" class="fas fa-redo-alt"></i>New Game</button>
      </mat-card>
</div>