.mario-maze{
    font-size: 48px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    color: rgb(255, 255, 255);
    background: transparent;
    outline: none;
}
.option-form {
    border-bottom: none;
}

.maze{
    margin: 16px;
}

.element{
    max-width: 35px;
    border: 2px solid rgb(255, 255, 255);
}

.board{
    margin: 0;
    padding: 0;
}

.score-group{
    display: flex;
    flex-direction: row;
}

.options{
    margin-right: 2vmin;
}

.option-button{
    background: rgb(8, 130, 230);
    color: white;
    margin-left: 16px;
}

.mario{
    width: 20px;
}

.score{
    width: 10vw;
    text-align: center;
    margin-right: 2vmin;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 4vmin 4vmin 4vmin;
    padding-top: 4vmin;
}

.maze{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.controllers{
    margin: 4vmin;
    text-align: center;
}

.end-game{
    display: flex;
    justify-content: center;
}

.control-button{
    background: white;
    color: black;
}

.end-game mat-card{
    width: 20vw;
    padding: 4vmin;
    text-align: center;
}

.message{
    font-size: 28px;
}

.scoreC{
    font-size: 20px;
}

.end-game button{
    margin-top: 2vmin;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: rgb(52, 209, 20);
    color: white;
}

@media only screen and (max-width:1024px){
    .controls{
        flex-direction: column;
    }

    .score{
        width: 20vw;
        margin-top: 2vmin;
    }

    .score-group{
        justify-content: center;
    }

    .options{
        width: 40vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width:1024px){
    .options{
        width: 85vw;
    }

    .score{
        width: 40vw;
    }
}